<!DOCTYPE html>
<html>
<head>
  <title>Vvveb Page Builder</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vvvebjs@0.2.1/dist/vvvebjs.css">
</head>
<body>
  <div id="vvveb-builder"></div>
  <button id="save-button" class="btn btn-primary">Save</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vvvebjs@0.2.1/dist/vvvebjs.js"></script>
  <script>
    $(document).ready(function() {
      Vvveb.Builder.init('index');

      $('#save-button').on('click', function() {
        const htmlContent = Vvveb.Builder.getHtml();
        $.post('/save', { htmlContent }, function(response) {
          alert(response.message);
        });
      });
    });
  </script>
</body>
</html>
